* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--bs-font-sans-serif);
  font-size: 14px;
  background-image: url(../img/img.jpg);
	 
	 display: flex;
	 font-family: 'Anton', sans-serif;
	 justify-content: center;
	 align-items: center;
}
.title {
  height: 75px;
  margin-bottom: 10px;
}
.title h1 {
  text-align: center;
  color: rgb(43, 39, 39);
  padding-top: 10px;
}
.container .main {
  display: flex;
}
.container .main .left {
  border: 1px solid #2c2929;
  border-radius: 4px;
  background: linear-gradient(rgb(128, 122, 223), rgb(64, 198, 231));
  padding: 50px;
  margin-left: -40px;
}
.container h3 {
  text-align: center;
  color: rgb(43, 39, 39);
}
.left input {
  border: 1px solid #000000;
  border-radius: 4px;
  width: 250px;
  padding-left: 10px;
  height: 30px;
}
.left #btnAdd{
  margin-left: 90px;
}
.left select {
  height: 30px;
  width: 194px;
  background: linear-gradient(rgb(204, 202, 238), rgb(64, 198, 231));
  border-radius: 5px;
  border: none;
  /* margin-left: 25px; */
}

.left button {
  border: 1px solid #000000;
  background: linear-gradient(rgb(204, 202, 238), rgb(64, 198, 231));
  border-radius: 5px;
  width: 70px;
  height: 30px;
  margin-left: 180px;
}

.right {
  border: 1px solid #000000;
  border-radius: 4px;
  background: linear-gradient(rgb(128, 122, 223), rgb(64, 198, 231));
  padding: 50px;
  height: 680px;
  /* line-height: 2; */
  margin-left: 30px;
}

.right h3 {
  text-align: center;
  color: rgb(43, 39, 39);
}

.right input {
  border: 1px solid #000000;
  border-radius: 4px;
  width: 150px;
  padding-left: 10px;
  height: 30px;
}
.right .them {
  margin-left: 0px;
  margin-top: 20px;
}
.right .them button {
  border: 1px solid #000000;
  background: linear-gradient(rgb(204, 202, 238), rgb(64, 198, 231));
  border-radius: 5px;
  width: 60px;
  height: 25px;
  margin-left: 20px;
}

.right .timkiem {
  display: flex;
  margin-bottom: 10px;
}
.right .timkiem .select-box select {
  margin-left: 25px;
  height: 32px;
  width: 160px;
  background-color: rgb(134, 235, 235);
  border-radius: 5px;
  border: none;
  
}
.box {
  border-radius: 30px;
  width: 210px;
}
.box input {
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.box button {
  background-color: rgb(134, 235, 235);
  border-radius: 5px;
  width: 50px;
  height: 32px;
  border: none;
  margin-left: 5px;
  border: 1px solid #000000;
}
.box input::placeholder {
  color: rgb(0, 0, 0);
}
.select-box button {
  background: linear-gradient(rgb(204, 202, 238), rgb(64, 198, 231));
  border-radius: 5px;
  border: none;
  width: 80px;
  height: 32px;
  margin-left: 5px;
  border: 1px solid #000000;
}
.right table {
  border: 1px solid #000000;
  background-color: rgb(248, 248, 248);
  
  text-align: center;
  color: rgb(0, 0, 0);
  width: 840px;
  
}

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
}
.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, rgb(0, 0, 0), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgb(0, 0, 0));
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(0, 0, 0), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(0, 0, 0), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -83px);
  left: calc(50% - 225px);
  animation-delay: 3286ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
  animation-delay: 3286ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - 104px);
  left: calc(50% - 168px);
  animation-delay: 4442ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
  animation-delay: 4442ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - -33px);
  left: calc(50% - 224px);
  animation-delay: 7225ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
  animation-delay: 7225ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - 176px);
  left: calc(50% - 270px);
  animation-delay: 5194ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
  animation-delay: 5194ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - 65px);
  left: calc(50% - 21px);
  animation-delay: 3131ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
  animation-delay: 3131ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - 138px);
  left: calc(50% - 125px);
  animation-delay: 2799ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
  animation-delay: 2799ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - -160px);
  left: calc(50% - 9px);
  animation-delay: 9580ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
  animation-delay: 9580ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - -16px);
  left: calc(50% - 253px);
  animation-delay: 4562ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
  animation-delay: 4562ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - -35px);
  left: calc(50% - 17px);
  animation-delay: 7112ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
  animation-delay: 7112ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - 111px);
  left: calc(50% - 61px);
  animation-delay: 3623ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
  animation-delay: 3623ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - -90px);
  left: calc(50% - 249px);
  animation-delay: 3662ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
  animation-delay: 3662ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - -28px);
  left: calc(50% - 15px);
  animation-delay: 2245ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
  animation-delay: 2245ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - 59px);
  left: calc(50% - 143px);
  animation-delay: 3223ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
  animation-delay: 3223ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - -99px);
  left: calc(50% - 291px);
  animation-delay: 5993ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
  animation-delay: 5993ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - 13px);
  left: calc(50% - 212px);
  animation-delay: 7844ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
  animation-delay: 7844ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - -99px);
  left: calc(50% - 156px);
  animation-delay: 303ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
  animation-delay: 303ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - 38px);
  left: calc(50% - 120px);
  animation-delay: 9721ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
  animation-delay: 9721ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - 158px);
  left: calc(50% - 31px);
  animation-delay: 4783ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
  animation-delay: 4783ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - 198px);
  left: calc(50% - 74px);
  animation-delay: 2644ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
  animation-delay: 2644ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - -12px);
  left: calc(50% - 232px);
  animation-delay: 8237ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
  animation-delay: 8237ms;
}
@keyframes tail {
  0% {
    width: 10;
 }
  30% {
    width: 500px;
 }
  100% {
    width: 0;
 }
}
@keyframes shining {
  0% {
    width: 0;
 }
  50% {
    width: 50px;
 }
  100% {
    width: 0;
 }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(300px);
 }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
 }
 100% {
  transform: rotate(405deg);
}
}
